@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap);@import url(https://fonts.googleapis.com/css?family=Fira+Mono:400,500&display=swap);* {
    font-family: Inconsolata,monospace
}

*,::after,::before {
    box-sizing: border-box
}
.margin-top {
    margin-top: 10px;
}

.responsive{
    max-width: 100%;
    height: auto;
}

/* Wrapper */
.wrapper {
    padding: 0 15px;
}

/*  Flex header */
.flex-header {
    display: flex;
    justify-content: space-between;
}

.flex-header-buttons > button:not(:last-child) {
    margin-right: 10px;
}

strong {
	color: #000000;
}

small {
    color: #000000;
}

li{
    color: #000000;
}

pre {
	margin: auto;
	width: 90%;
	border: 3px solid #cceeff;
	padding: 10px;	
}

/* Code block */
code {
    font-family: Inconsolata, monospace;
    font-size: 1.3vh;
    color: #9539f7;
    border-radius: 2px;
    word-wrap: break-word;
    max-width: 100%;
    height: auto;
}

code[class*=language-] {
    font-family: Inconsolata, monospace;
    font-size: 1.3vh;
    border-radius: 2px;
    word-wrap: break-word;
    max-width: 100%;
    height: auto;
}

highlight {
    font-size: 1.3vh;
    max-width: 100%;
    height: auto;
    font-family: Inconsolata, monospace;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}


html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

article,aside,figcaption,figure,footer,header,hgroup,main,nav,section {
    display: block
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: left;
    background-color: #ffffff
}

h1,h2,h3,h4,h5,h6 {
    color: #000000;
    margin-top: 0;
    margin-bottom: .5rem
}


p {
    color : #000000;
    margin-top: 0;
    margin-bottom: 1rem
}



@media (prefers-reduced-motion:reduce) {
    .fade {
        -webkit-transition: none;
        transition: none
    }
}

.fade:not(.show) {
    opacity: 0
}

.collapse:not(.show) {
    display: none
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height .35s ease;
    transition: height .35s ease
}

@media (prefers-reduced-motion:reduce) {
    .collapsing {
        -webkit-transition: none;
        transition: none
    }
}

a>code {
    color: inherit
}

kbd {
    padding: .2rem .4rem;
    font-size: 87.5%;
    color: #fff;
    background-color: #212529;
    border-radius: .2rem
}

kbd kbd {
    padding: 0;
    font-size: 100%;
    font-weight: 700
}

pre {
    display: block;
    font-size: 87.5%;
    color: #212529
}

pre code {
    font-size: inherit;
    color: inherit;
    word-break: normal
}

.pre-scrollable {
    max-height: 340px;
    overflow-y: scroll
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    opacity: .5
}

.close:hover {
    color: #fff;
    text-decoration: none
}

.close:not(:disabled):not(.disabled):focus,.close:not(:disabled):not(.disabled):hover {
    opacity: .75
}

button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

a.close.disabled {
    pointer-events: none
}

.close:active,.close:focus {
    outline: 0
}

.modal-open {
    overflow: hidden
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none
}

.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    -webkit-transform: translate(0,-50px);
    transform: translate(0,-50px)
}

@media (prefers-reduced-motion:reduce) {
    .modal.fade .modal-dialog {
        -webkit-transition: none;
        transition: none
    }
}

.modal.show .modal-dialog {
    -webkit-transform: none;
    transform: none
}

.modal.modal-static .modal-dialog {
    -webkit-transform: scale(1.02);
    transform: scale(1.02)
}

.modal-dialog-scrollable {
    display: -webkit-box;
    display: flex;
    max-height: calc(100% - 1rem)
}

.modal-dialog-scrollable .modal-content {
    max-height: calc(100vh - 1rem);
    overflow: hidden
}

.modal-dialog-scrollable .modal-footer,.modal-dialog-scrollable .modal-header {
    flex-shrink: 0
}

.modal-dialog-scrollable .modal-body {
    overflow-y: auto
}

.modal-dialog-centered {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-height: calc(100% - 1rem)
}

.modal-dialog-centered::before {
    display: block;
    height: calc(100vh - 1rem);
    content: ""
}

.modal-dialog-centered.modal-dialog-scrollable {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    height: 100%
}

.modal-dialog-centered.modal-dialog-scrollable .modal-content {
    max-height: none
}

.modal-dialog-centered.modal-dialog-scrollable::before {
    content: none
}

.modal-content {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #282a3c;
    background-clip: padding-box;
    border: 1px solid #3d405a;
    border-radius: .3rem;
    outline: 0
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000
}

.modal-backdrop.fade {
    opacity: 0
}

.modal-backdrop.show {
    opacity: .5
}

.modal-header {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #3d405a;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px)
}

.modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5
}

.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    padding: 1rem
}

.modal-footer {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
    padding: .75rem;
    border-top: 1px solid #3d405a;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px)
}

.modal-footer>* {
    margin: .25rem
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width:500px;
        margin: 1.75rem auto
    }

    .modal-dialog-scrollable {
        max-height: calc(100% - 3.5rem)
    }

    .modal-dialog-scrollable .modal-content {
        max-height: calc(100vh - 3.5rem)
    }

    .modal-dialog-centered {
        min-height: calc(100% - 3.5rem)
    }

    .modal-dialog-centered::before {
        height: calc(100vh - 3.5rem)
    }

    .modal-sm {
        max-width: 300px
    }
}

@media (min-width: 992px) {
    .modal-lg,.modal-xl {
        max-width:800px
    }
}

@media (min-width: 1200px) {
    .modal-xl {
        max-width:1140px
    }
}

.modal-body>a {
    text-decoration: none
}

.modal-body>a:hover {
    border-bottom: 1px solid #fff
}


.btn:hover {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    box-shadow: 0 7px 14px rgba(0,0,0,.1)
}

.btn:focus {
    outline: 0
}

.btn:active {
    -webkit-transform: translateY(1.5px);
    transform: translateY(1.5px)
}

.btn-secondary {
    background: 0 0;
    border: 1px solid #33354b;
    background-color: #33354b
}

.btn-secondary:hover {
    background-color: #3d405a
}

.btn-secondary:active {
    background-color: #282a3c;
    border-color: #282a3c
}

.btn-info {
    background: 0 0;
    border: 1px solid #00cece;
    background-color: #00cece;
    color: #fff
}

.btn-info:hover {
    background-color: #00e7e7;
    color: #fff
}

.btn-info:active {
    background-color: #00b4b4;
    border-color: #00b4b4;
    color: #fff
}

.btn-success {
    background: 0 0;
    border: 1px solid #00d39a;
    background-color: #00d39a;
    color: #fff
}

.btn-success:hover {
    background-color: #00ecad;
    color: #fff
}

.btn-success:active {
    background-color: #00b988;
    border-color: #00b988;
    color: #fff
}

.btn-danger {
    background: 0 0;
    border: 1px solid #e92556;
    background-color: #e92556;
    color: #fff
}

.btn-danger:hover {
    background-color: #eb3c68;
    color: #fff
}

.btn-danger:active {
    background-color: #dd1749;
    border-color: #dd1749;
    color: #fff
}

.btn-highlight {
    border: 2px solid #00e7e7
}

.card {
    background-color: #140033;
    border-radius: 2px;
    cursor: pointer;
    height: 150px;
    overflow: hidden;
    padding: .5em 1em;
    width: 250px;
    -webkit-transition: all .2s;
    transition: all .2s;
    margin: 15px auto
}

.card-flex {
    display: inline-block;
    background-color: #061539;
    border-radius: 2px;
    cursor: pointer;
    height: 150px;
    padding: 20px;
    width: 500px;
    min-width: 350px;
    -webkit-transition: all .2s;
    transition: all .2s;
    margin: 15px;
}

.card:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    box-shadow: 0 7px 14px rgba(0,0,0,.35)
}

.card-flex:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    box-shadow: 0 7px 14px rgba(0,0,0,.35)
}

.card-title {
    padding-left: 5px;
    font-size: 1rem;
}

.card-data {
    display: inline-block;
    width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between
}

.card-data,.card-sub {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center
}

.card-data .data,.card-data i,.card-sub .data,.card-sub i {
    margin: 5px
}

.card-data>div>i,.card-data>div>p,.card-data>i {
    color: #9096b4
}

.card-data>.solves>i,.card-data>.solves>p {
    color: #ffa600!important
}

.card-data>i {
    -webkit-transition: all .1s;
    transition: all .1s
}

.card-data>i:hover {
    color: #fff
}

.card-link {
    color: #9096b4;
    text-decoration: none
}

.card-info {
    border-top: 3px solid #00e7e7
}

.card-easy {
    border-top: 3px solid #E95420
}

.card-secondary {
    border-top: 3px solid #757aa1
}

pre[class*=language-] {
    font-size: 1em;
    font-family: 'Fira Mono',monospace!important
}

.info {
    color: #00e7e7
}

.danger {
    color: #eb3c68
}

.success {
    color: #00ecad
}

.secondary {
    color: #3d405a
}

.primary {
    color: #ededed
}

.gold {
    color: #ffc548
}

hr {
    border: 0;
    border-top: 2px solid #393c5563
}
